<!-- navbar-sign-in-trainer-bg-transparent -->
<nav
  class="navbar navbar-gsap-first navbar-expand-lg bg-transparent fixed-top py-4 py-lg-5"
>
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <picture>
        <source
          srcset="../assets/images/logo/logo-primary-text.svg"
          media="(min-width: 992px)"
          alt="主色 health glow logo"
          class="img-fluid"
          height="60"
          width="130"
        />
        <img
          src="../assets/images/logo/logo-primary-text.svg"
          alt="主色 health glow logo"
          class="img-fluid"
          height="30"
          width="64"
        />
      </picture>
    </a>
    <img
      src="../assets/images/img/sports-04.webp"
      alt="一個拿著啞鈴穿著運動服裝的黑人女性在原地跑步"
      width="40"
      height="40"
      class="rounded-circle border-1 border border-white d-block d-lg-none"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbarSignInTrainer01"
      aria-controls="offcanvasNavbarSignInTrainer01"
      style="cursor: pointer"
    />
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav align-items-center ms-auto">
        <li class="nav-item me-8">
          <a class="btn btn-primary text-light fw-semibold" href="#"
            >成為教練</a
          >
        </li>
        <li class="nav-item me-8">
          <a
            class="nav-link link-light fw-semibold"
            href="common-questions.html"
            ><span class="material-symbols-outlined align-middle me-1">
              help </span
            >常見問答</a
          >
        </li>
        <li
          class="nav-item"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbarSignInTrainer01"
          aria-controls="offcanvasNavbarSignInTrainer01"
          style="cursor: pointer"
        >
          <img
            src="../assets/images/img/sports-04.webp"
            alt="一個拿著啞鈴穿著運動服裝的黑人女性在原地跑步"
            width="56"
            height="56"
            class="rounded-circle border-2 border border-white"
          />
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar-sign-in-trainer-bg-white -->
<!-- 當視窗移動到 banner 底部，顯示切換為此 navbar -->
<nav
  class="navbar navbar-gsap-secondary navbar-expand-lg bg-white fixed-top py-2 py-lg-6 flex-nowrap"
  style="display: none"
>
  <form class="container">
    <a class="navbar-brand me-3 me-lg-8" href="index.html">
      <picture>
        <source
          srcset="../assets/images/logo/logo-primary-text.svg"
          media="(min-width: 991px)"
          alt="主色 health glow logo"
          height="48"
          width="104"
        />

        <img
          src="../assets/images/logo/logo-primary-text.svg"
          alt="主色 health glow logo"
          height="24"
          width="52"
        />
      </picture>
    </a>
    <div class="rounded-0 position-relative d-block d-lg-none flex-grow-1">
      <span
        class="material-symbols-outlined position-absolute fs-4 top-50 translate-middle"
        style="left: 24px"
      >
        search
      </span>
      <input
        type="text"
        class="form-control navbar-input rounded-0 border-2 border-gray-800 text-truncate ps-10 pe-2"
        placeholder="搜尋課程｜地點｜時間"
        style="font-size: 12px"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbarSignInTrainerMobileSearch"
      />
    </div>
    <ul
      class="navbar-nav align-items-center d-flex flex-row ms-2 d-block d-lg-none"
    >
      <li class="nav-item me-2 p-0">
        <a class="nav-link p-0" href="common-questions.html"
          ><span
            class="material-symbols-outlined fs-5 text-gray-800 align-middle"
          >
            help
          </span></a
        >
      </li>
      <li class="nav-item me-2 p-0">
        <a class="nav-link p-0" href="#"
          ><span
            class="material-symbols-outlined fs-5 text-gray-800 align-middle"
          >
            notifications
          </span></a
        >
      </li>
      <li class="nav-item me-2 p-0">
        <a class="nav-link p-0" href="#"
          ><span
            class="material-symbols-outlined fs-5 text-gray-800 align-middle"
          >
            mail
          </span></a
        >
      </li>
      <li class="nav-item">
        <img
          src="../assets/images/img/sports-04.webp "
          alt="一個拿著啞鈴穿著運動服裝的黑人女性在原地跑步"
          width="32"
          height="32"
          class="rounded-circle border-1 border border-white d-block d-lg-none"
          style="cursor: pointer"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbarSignInTrainer02"
          aria-controls="offcanvasNavbarSignInTrainer02"
        />
      </li>
    </ul>
    <div class="collapse navbar-collapse">
      <div class="d-flex align-items-center">
        <%- include('./layout/navbar-three-input-dropdown-menu.ejs'); -%>
        <ul class="navbar-nav align-items-center mx-8">
          <li class="nav-item me-5 p-0">
            <a class="nav-link p-0" href="common-questions.html"
              ><span
                class="material-symbols-outlined fs-3 text-gray-800 align-middle"
              >
                help
              </span></a
            >
          </li>
          <li class="nav-item me-5 p-0">
            <a class="nav-link p-0" href="#"
              ><span
                class="material-symbols-outlined fs-3 text-gray-800 align-middle"
              >
                notifications
              </span></a
            >
          </li>
          <li class="nav-item me-5 p-0">
            <a class="nav-link p-0" href="#"
              ><span
                class="material-symbols-outlined fs-3 text-gray-800 align-middle"
              >
                mail
              </span></a
            >
          </li>
        </ul>
        <img
          src="../assets/images/img/sports-04.webp"
          alt="一個拿著啞鈴穿著運動服裝的黑人女性在原地跑步"
          width="56"
          height="56"
          class="rounded-circle border-2 border border-white"
          style="cursor: pointer"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbarSignInTrainer02"
          aria-controls="offcanvasNavbarSignInTrainer02"
        />
      </div>
    </div>
  </form>
</nav>
<!-- offcanvas-navbar-sign-in-trainer-bg-transparent -->
<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasNavbarSignInTrainer01"
  aria-labelledby="offcanvasNavbarSignInTrainer01"
>
  <div class="offcanvas-header px-4 py-7">
    <div class="d-flex justify-content-center align-items-center">
      <img
        src="../assets/images/img/sports-04.webp"
        alt="一個拿著啞鈴穿著運動服裝的黑人女性在原地跑步"
        width="36"
        height="36"
        class="rounded-circle me-3"
      />
      <span>王小明</span>
    </div>

    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body px-0 py-0">
    <ul class="list-group rounded-0 mb-3">
      <li>
        <a
          class="list-group-item list-group-item-action py-5 px-6 border-0 d-flex justify-content-between align-items-center border-bottom border-gray-100"
          href="#"
        >
          <span class="fw-semibold text-primary">成為教練</span>
          <img
            src="../assets/images/icons/right Foward.svg"
            alt="向右 icon"
            width="20"
            height="20"
          />
        </a>
      </li>
      <li>
        <a
          class="list-group-item list-group-item-action py-5 px-6 border-0 d-flex justify-content-between align-items-center border-bottom border-gray-100"
          href="common-questions.html"
        >
          <span>常見問答</span>
          <img
            src="../assets/images/icons/right Foward.svg"
            alt="向右 icon"
            width="20"
            height="20"
          />
        </a>
      </li>
    </ul>
    <ul class="list-group rounded-0">
      <li>
        <a
          class="list-group-item list-group-item-action py-5 px-6 border-0 d-flex justify-content-between align-items-center border-bottom border-gray-100"
          href="#"
        >
          <div class="d-flex align-items-center">
            <span class="material-symbols-outlined me-2"> calendar_clock </span>
            <span>預約課程 | 預約、上課</span>
          </div>
          <img
            src="../assets/images/icons/right Foward.svg"
            alt="向右 icon"
            width="20"
            height="20"
          />
        </a>
      </li>
      <li>
        <a
          class="list-group-item list-group-item-action py-5 px-6 border-0 d-flex justify-content-between align-items-center border-bottom border-gray-100"
          href="#"
        >
          <div class="d-flex align-items-center">
            <span class="material-symbols-outlined me-2"> calendar_month </span>
            <span>行事曆 | 課程明細</span>
          </div>
          <img
            src="../assets/images/icons/right Foward.svg"
            alt="向右 icon"
            width="20"
            height="20"
          />
        </a>
      </li>
      <li>
        <a
          class="list-group-item list-group-item-action py-5 px-6 border-0 d-flex justify-content-between align-items-center border-bottom border-gray-100"
          href="#"
        >
          <div class="d-flex align-items-center">
            <span class="material-symbols-outlined me-2"> settings </span>
            <span>帳號設定</span>
          </div>
          <img
            src="../assets/images/icons/right Foward.svg"
            alt="向右 icon"
            width="20"
            height="20"
          />
        </a>
      </li>
      <li>
        <a
          class="list-group-item list-group-item-action py-5 px-6 border-0 d-flex justify-content-between align-items-center border-bottom border-gray-100"
          href="index.html"
        >
          <div class="d-flex align-items-center">
            <span class="material-symbols-outlined me-2"> logout </span>
            <span>登出</span>
          </div>
          <img
            src="../assets/images/icons/right Foward.svg"
            alt="向右 icon"
            width="20"
            height="20"
          />
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- offcanvas-navbar-sign-in-trainer-bg-white -->
<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasNavbarSignInTrainer02"
  aria-labelledby="offcanvasNavbarSignInTrainer02"
>
  <div class="offcanvas-header px-4 py-7">
    <div class="d-flex justify-content-center align-items-center">
      <img
        src="../assets/images/img/sports-04.webp"
        alt="一個拿著啞鈴穿著運動服裝的黑人女性在原地跑步"
        width="36"
        height="36"
        class="rounded-circle me-3"
      />
      <span>王小明</span>
    </div>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body px-0 py-0">
    <ul class="list-group rounded-0">
      <li>
        <a
          class="list-group-item list-group-item-action py-5 px-6 border-0 d-flex justify-content-between align-items-center border-bottom border-gray-100"
          href="#"
        >
          <div class="d-flex align-items-center">
            <span class="material-symbols-outlined me-2"> calendar_clock </span>
            <span>預約課程 | 預約、上課</span>
          </div>
          <img
            src="../assets/images/icons/right Foward.svg"
            alt="向右 icon"
            width="20"
            height="20"
          />
        </a>
      </li>
      <li>
        <a
          class="list-group-item list-group-item-action py-5 px-6 border-0 d-flex justify-content-between align-items-center border-bottom border-gray-100"
          href="#"
        >
          <div class="d-flex align-items-center">
            <span class="material-symbols-outlined me-2"> calendar_month </span>
            <span>行事曆 | 課程明細</span>
          </div>
          <img
            src="../assets/images/icons/right Foward.svg"
            alt="向右 icon"
            width="20"
            height="20"
          />
        </a>
      </li>
      <li>
        <a
          class="list-group-item list-group-item-action py-5 px-6 border-0 d-flex justify-content-between align-items-center border-bottom border-gray-100"
          href="#"
        >
          <div class="d-flex align-items-center">
            <span class="material-symbols-outlined me-2"> settings </span>
            <span>帳號設定</span>
          </div>
          <img
            src="../assets/images/icons/right Foward.svg"
            alt="向右 icon"
            width="20"
            height="20"
          />
        </a>
      </li>
      <li>
        <a
          class="list-group-item list-group-item-action py-5 px-6 border-0 d-flex justify-content-between align-items-center border-bottom border-gray-100"
          href="index.html"
        >
          <div class="d-flex align-items-center">
            <span class="material-symbols-outlined me-2"> logout </span>
            <span>登出</span>
          </div>
          <img
            src="../assets/images/icons/right Foward.svg"
            alt="向右 icon"
            width="20"
            height="20"
          />
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- offcanvas-navbar-sign-in-trainer-bg-white-mobile-search -->
<div
  class="offcanvas offcanvas-end overflow-y-auto"
  tabindex="-1"
  id="offcanvasNavbarSignInTrainerMobileSearch"
  aria-labelledby="offcanvasNavbarSignInTrainerMobileSearch"
>
  <div class="offcanvas-header px-4">
    <img
      src="../assets/images/logo/logo-primary-text.svg"
      alt="主色 health glow logo"
      width="64"
      height="30"
    />
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <form>
    <div class="offcanvas-body px-0 py-0">
      <ul class="accordion list-unstyled rounded-0" id="accordionSearch">
        <li class="accordion-item border-0 rounded-0">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed py-5 px-6 border-0 d-flex justify-content-between align-items-center border-bottom border-gray-100 rounded-0"
              type="button"
              data-bs-toggle="collapse"
              aria-expanded="false"
              data-bs-target="#collapseCourseSearch"
              aria-controls="collapseCourseSearch"
            >
              <span class="fw-semibold d-flex align-items-center text-secondary"
                ><span class="material-symbols-outlined text-gray-800 me-1">
                  search </span
                >課程搜尋</span
              >
            </button>
          </h2>
          <div id="collapseCourseSearch" class="accordion-collapse collapse">
            <div class="accordion-body bg-gray-200">
              <!-- 運動課程 dropdown menu -->
              <div class="search d-flex bg-white">
                <!-- 運動課程 level one-->
                <div
                  class="course-dropdown-menu-level-one border border-primary flex-grow-1"
                >
                  <ul class="list-unstyled mb-0"></ul>
                </div>
                <!-- 運動課程 level two-->
                <div
                  class="course-dropdown-menu-level-two border border-primary flex-grow-1"
                >
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a class="dropdown-item undefined" href="#">有氧運動 1</a>
                    </li>
                    <li>
                      <a class="dropdown-item undefined" href="#">有氧運動 2</a>
                    </li>
                    <li>
                      <a class="dropdown-item undefined" href="#">有氧運動 3</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="accordion-item border-0 rounded-0">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed py-5 px-6 border-0 d-flex justify-content-between align-items-center border-bottom border-gray-100 rounded-0"
              type="button"
              data-bs-toggle="collapse"
              aria-expanded="false"
              data-bs-target="#collapseLocationSelection"
              aria-controls="collapseLocationSelection"
            >
              <span class="fw-semibold d-flex align-items-center text-secondary"
                ><span class="material-symbols-outlined text-gray-800 me-1">
                  location_on </span
                >選擇地點</span
              >
            </button>
          </h2>
          <div
            id="collapseLocationSelection"
            class="accordion-collapse collapse"
          >
            <div class="search accordion-body bg-gray-200">
              <!-- 地點 dropdown menu -->
              <div class="d-flex justify-content-between">
                <span>已選擇 2/10</span>
                <a
                  href="#"
                  class="link-gray-700 text-decoration-underline"
                  role="button"
                  >清除全部</a
                >
              </div>
              <div class="d-flex bg-white">
                <!-- 地點 Level One -->
                <div
                  class="location-dropdown-menu-level-one border border-primary"
                >
                  <ul class="list-unstyled mb-0"></ul>
                </div>
                <!-- 地點 Level Two -->
                <div
                  class="location-dropdown-menu-level-two border border-primary"
                >
                  <ul class="list-unstyled mb-0 d-block">
                    <li><a class="dropdown-item" href="#">中正區</a></li>
                    <li><a class="dropdown-item" href="#">大同區</a></li>
                    <li><a class="dropdown-item" href="#">中山區</a></li>
                    <li><a class="dropdown-item" href="#">松山區</a></li>
                    <li><a class="dropdown-item" href="#">大安區</a></li>
                    <li><a class="dropdown-item" href="#">萬華區</a></li>
                    <li><a class="dropdown-item" href="#">信義區</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="accordion-item border-0 rounded-0">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed py-5 px-6 border-0 d-flex justify-content-between align-items-center border-bottom border-gray-100 rounded-0"
              type="button"
              data-bs-toggle="collapse"
              aria-expanded="false"
              data-bs-target="#collapseDateSelection"
              aria-controls="collapseDateSelection"
            >
              <span
                class="fw-semibold d-flex align-items-center text-secondary"
              >
                <span class="material-symbols-outlined text-gray-800 me-1"
                  >schedule</span
                >
                選擇時間
              </span>
            </button>
          </h2>
          <div
            id="collapseDateSelection"
            class="accordion-collapse collapse text-center"
          >
            <div
              class="accordion-body bg-gray-200 d-flex justify-content-center"
            >
              <div class="flatpickr-inline"></div>
            </div>
          </div>
        </li>
      </ul>
      <div class="p-6 d-flex gap-4">
        <button
          type="search"
          class="btn btn-outline-dark fs-6 fw-semibold px-56 py-3 w-50"
        >
          重置
        </button>
        <button
          type="search"
          class="btn btn-primary text-white fs-6 fw-semibold px-56 py-3 w-50"
        >
          搜尋
        </button>
      </div>
    </div>
  </form>
</div>
