<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <%- include('./layout/head'); -%>
    <title>Health Glow | 首頁</title>
  </head>
  <body>
    <%- include('./layout/header-sign-out.ejs'); -%>
    <!-- banner -->
    <section class="home-banner d-flex flex-column justify-content-center">
      <div class="container">
        <h1 class="font-anton-regular fs-2 fs-md-72 text-tint text-shadow mb-2">
          TRAIN TODAY, <span class="d-inline-block">STRONG TOMORROW</span>
        </h1>
        <p class="text-white fs-6 fs-md-4 text-shadow">
          簡單註冊、免費聯絡教練，一對一為你量身打造健身課程！
        </p>
        <p class="text-white fs-6 fs-md-4 text-shadow mb-2">
          您想上什麼課？立即預約健康
        </p>
        <div class="row">
          <div class="col-lg-4 col-md-8">
            <form class="position-relative">
              <div class="mt-4 mb-3 border-1 rounded-0">
                <span
                  class="position-absolute material-symbols-outlined fs-4 text-dark bg-white py-5 py-md-6 ps-3 ps-md-4 pe-1 pe-md-3"
                  >search
                </span>

                <input
                  type="text"
                  class="form-control home-banner-input rounded-0 border-0 py-5 py-md-6 ps-10 ps-md-52 pe-129 pe-md-165"
                  placeholder="有氧運動"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                />
              </div>
              <button
                class="btn btn-primary-radial-gradient py-2 py-md-3 px-3 px-md-6 position-absolute home-banner-input-btn rounded-2"
                type="search"
              >
                立即預約 →
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <%- include('./components/scroll-to-top'); -%>

    <div class="next-section bg-gray-100" style="height: 1000px"></div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
