<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Health Glow | 首頁</title>
    <!-- 差 title icon 和 OG img -->
     <link 
     rel="stylesheet" 
     href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
     />
    <link
      rel="icon"
      href="../assets/images/icons/health-glow-icon-32x32.webp"
      type="image/x-icon"
    />
    <!-- 網頁描述 -->
    <meta
      name="description"
      content="Health Glow，透過我們的運動預約平台，輕鬆探索多元運動課程，預約專業教練，打造屬於你的個性化健身計劃。無論何時何地，都能快速預約並開始你的健康運動生活。"
    />
    <meta name="author" content="Sonia、Macy、Jason、Nocab" />
    <meta
      name="keywords"
      content="運動預約, 教練課程, 健身課程, 線上預約, 私人教練, 課程管理, 運動平台, 健康運動, 運動場地預約, 團體課程, 健身房預約, 個人訓練, 健身計劃, 線上運動, 運動課程推薦, 運動健身, 課程報名, 課程評價, 運動教練, 運動學習, 健身預約系統, 瑜伽課程, 健身教練, 課程搜索, 訓練課程, 運動類型選擇, 健身目標, 課程時間表, 彈性取消, 線上支付運動課程"
    />
    <!-- OG -->
    <meta property="og:title" content="Health Glow" />
    <meta
      property="og:description"
      content="探索多元運動課程，輕鬆預約專業教練，隨時隨地開啟健康生活。立即加入，打造屬於你的個性化健身計劃！"
    />
    <meta property="og:image" content="" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:alt" content="Health Glow og" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta
      property="og:url"
      content="https://nocab7714.github.io/HealthGlow-sports-coach-reservation-platform/"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 使用 Anton 字體的方法 -->
    <!-- <h1 class="font-anton-regular">Anton</h1>

    <button class="btn btn-primary-radial-gradient py-3 px-4">
      立即預約 →
    </button> -->
    <!-- 愛上的4個理由 -->
    <section>
      <div class="bg-banner-04-pc position-relative">
        <div class="bg-secondarydeep lovesection bg-opacity-75 pt-17 pb-md-18 pb-17">
          <div class="container">
            <div>
              <div class="mb-19">
                <div class="d-md-flex d-column align-items-center">
                  <span class="pe-md-10 d-md-inline-block d-block text-center">
                    <span class="font-anton-regular text-tint display-1">4</span>
                  </span>
                  <div>
                    <div>
                      <div class="fs-md-1 fs-3 text-tint text-md-start text-center">
                        個愛上
                      </div>
                      <div class="fs-md-1 fs-3 text-tint text-md-start text-center">
                        HealthGlow的理由
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <!-- 卡片 -->
                <div class="row row-cols-md-4 g-8 mt-1">
                  <div class="col-md-3 col-12">
                    <div class="bg-tint text-center py-11">
                      <div class="fs-4">
                        任選上課時間
                      </div>
                      <div class="py-4">
                        <div class="
                        rounded-circle overflow-hidden d-inline-block bg-white 
                        ">
                          <img src="../assets/images/icons/calendar-clock-icon-64x64.webp" class="p-4" alt="">
                        </div>
                      </div>
                      <p>
                        Secondary Text
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3 col-12">
                    <div class="bg-tint text-center py-11">
                      <div class="fs-4">
                        客製化的健身課程
                      </div>
                      <div class="py-4">
                        <div class="
                        rounded-circle overflow-hidden d-inline-block bg-white 
                        ">
                          <img src="../assets/images/icons/exercise-icon-64x64.webp" class="p-4" alt="">
                        </div>
                      </div>
                      <p>
                        Secondary Text
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3 col-12">
                    <div class="bg-tint text-center py-11">
                      <div class="fs-4">
                        一堂也能買
                      </div>
                      <div class="py-4">
                        <div class="
                        rounded-circle overflow-hidden d-inline-block bg-white 
                        ">
                          <img src="../assets/images/icons/person-check-icon-64x64.webp" class="p-4" alt="">
                        </div>
                      </div>
                      <p>
                        Secondary Text
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3 col-12">
                    <div class="bg-tint text-center py-11">
                      <div class="fs-4">
                        自選上課教練
                      </div>
                      <div class="py-4">
                        <div class="
                        rounded-circle overflow-hidden d-inline-block bg-white
                        ">
                          <img src="../assets/images/icons/add-reaction-icon-64x64.webp" class="p-4" alt="">
                        </div>
                      </div>
                      <p>
                        Secondary Text
                      </p>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </section>

    <!-- 學生評價 -->
    <section>
      <div class="bg-secondarydeep position-relative">
        <!-- GSAP -->
        <div class="bg-white overflow-hidden pb-md-18 pb-21">
          <div class="text-tint runtxt d-inline-block whitespace-nowrap font-anton-700" id="runtxt">
            LOVE BY THE TRAINERS. LOVE BY THE TRAINERS. LOVE BY THE TRAINERS.LOVE BY THE TRAINERS. LOVE BY THE TRAINERS. LOVE BY THE TRAINERS.LOVE BY THE TRAINERS. LOVE BY THE TRAINERS. LOVE BY THE TRAINERS.
          </div>
        </div>
        
        <!-- Swiper -->
        <div class="position-absolute translate-middle-x content-box start-50"
        style="z-index: 100;"
        >
          <div>
            <div class="container">
              <div class="mobil-title  text-secondary text-center">
                <span class="h1">學生評價</span>
              </div>
            </div>
            <div class="mt-md-20 mt-11 position-relative">
              <div class="container">
                <div class="swiper mySwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">Slide 1</div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                    <div class="swiper-slide">Slide 4</div>
                    <div class="swiper-slide">Slide 5</div>
                    <div class="swiper-slide">Slide 6</div>
                    <div class="swiper-slide">Slide 7</div>
                    <div class="swiper-slide">Slide 8</div>
                    <div class="swiper-slide">Slide 9</div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
                <!-- <div class="swiper mySwiper justify-content-center overflow-hidden">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="ps-md-5 ps-4 mt-md-5 mt-4 mb-2 d-flex align-items-center">
                        <div class="rounded-circle feedback-avatar1 feedback-style me-2">
                        </div>
                        <div class="fs-5">
                          陳小姐
                        </div>
                      </div>
                      <div class="p-2 ">
                        <img src="../assets/images/img/feedback-01.webp" alt="feedback-01" >
                      </div>
                      
                      <div class="articleContent">
                        <p class="fs-mobil-content">這個預約平台真是太方便了!不僅能輕鬆找到適合我的教練，還可以靈活安排時間，非常適合我這種忙碌的上班族。強烈推薦給每一位健身愛好者!</p>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="ps-md-5 ps-4 mt-md-5 mt-4 mb-2 d-flex align-items-center">
                        <div class="rounded-circle feedback-avatar2 feedback-style me-2">
                        </div>
                        <div class="fs-5">
                          李先生
                        </div>
                      </div>
                      <div class="p-2">
                        <img src="../assets/images/img/feedback-02.webp" alt="feedback-02" >
                      </div>
                      
                      <div class="articleContent">
                        <p class="fs-6">我特別喜歡這個平台的預約系統，簡單又直觀。教練的資歷和評價都一目了然，讓我可以做出最好的選擇。用了這個平台後，我的健身計劃變得更加有規律了。!</p>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="ps-md-5 ps-4 mt-md-5 mt-4 mb-2 d-flex align-items-center">
                        <div class="rounded-circle feedback-avatar3 feedback-style me-2">
                        </div>
                        <div class="fs-5">
                          王太太
                        </div>
                      </div>
                      <div class="p-2">
                        <img src="../assets/images/img/feedback-03.webp" alt="feedback-03" >
                      </div>
                      
                      <div class="articleContent">
                        <p class="fs-6">作為銀髮族,我一直擔心找不到合適的健身課程。這個平台提供的銀髮族體適能服務讓我感到很安心。教練非常專業,讓我在運動中感到安全和舒適。</p>
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="swiper-button-next d-md-inline-block border border-1 opacity-1 w-auto d-none">
                </div>
                <div class="swiper-button-prev d-md-inline-block position-absolute border border-1 opacity-1  w-auto d-none">
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <img src="../assets/images/icons/logo_primary_64x64.webp" class="position-absolute logo_primary d-md-inline-block d-none" alt="">
        <!-- bg -->
        <div class="bg-secondary position-relative bg-height">
          <img src="../assets/images/icons/logo_accent_64x64.webp" class="position-absolute logo_accent d-md-inline-block d-none" alt="">
        </div>
      </div>
    </section>

    <!-- 註冊教練或學員 -->
    <section  style="z-index: 5;">
      <div class="bg-secondary">
        <div class="container pt-md-15 pb-17 pt-14">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-md-6 col-12 d-flex align-items-center pe-md-0">
                  <div class="py-mde-11 py-14 px-5">
                    <h2 class="fs-md-2 text-tint fs-4">卡關了? 讓教練幫助你突破</h2>
                    <div class="bar my-5 bg-tint"></div>
                    <div class="text-white">
                      <p>新手入門友善,從不會教到會</p>
                      <p>一堂也能購買</p>
                      <p>增肌減脂,幫助你效率化的完成目標</p>
                    </div>
                    <div class="mt-6">
                      <button class="btn btn-primary-radial-gradient py-3 px-4">
                        立即預約 →
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12 ps-md-0 px-0">
                  <img src="../assets/images/img/trainer-01.webp" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row flex-md-row flex-column-reverse">
                <div class="col-md-6 col-12 px-0">
                  <img src="../assets/images/img/trainer-02.webp" alt="">
                </div>
                <div class="col-md-6 col-12 d-flex align-items-center pe-md-0">
                  <div class="py-mde-11 py-14 px-5">
                    <h2 class="fs-md-2 text-tint fs-4fs-md-2 text-tint fs-4">卡成為 HealthGlow 教練</h2>
                    <div class="bar my-5 bg-tint"></div>
                    <div class="text-white">
                      <p>簡單、快速、方便的預約系統</p>
                      <p>自由安排 授課時間</p>
                      <p>增加曝光和客源</p>
                    </div>
                    <div class="mt-6">
                      <button type="button rounded-0" class="btn btn-primary text-white">
                        成為教練
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <!-- GSAP -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script>
        gsap.to('#runtxt', {
          x: -1000,
          duration: 10,
          repeat: -1,
          ease: 'none',
        });
    </script>
  </body>
</html>
