<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <%- include('./layout/head'); -%>
    <title>Health Glow | 首頁</title>
  </head>
  <body>
    <%- include('./layout/header-sign-out.ejs'); -%>
    <!-- banner -->
    

    <!-- 愛上的4個理由 -->
    <section>
      <div class="bg-banner-04-pc position-relative">
        <div class="bg-secondarydeep lovesection bg-opacity-75 pt-17 pb-md-18 pb-17">
          <div class="container">
            <div>
              <div class="mb-19">
                <div class="d-md-flex d-column align-items-center">
                  <span class="pe-md-10 d-md-inline-block d-block text-center">
                    <span class="font-anton-regular text-tint display-1">4</span>
                  </span>
                  <div>
                    <div>
                      <div class="fs-md-1 fs-3 text-tint text-md-start text-center">
                        個愛上
                      </div>
                      <div class="fs-md-1 fs-3 text-tint text-md-start text-center">
                        HealthGlow的理由
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <!-- 卡片 -->
                <div class="row row-cols-md-4 g-8 mt-1">
                  <div class="col-md-3 col-12">
                    <div class="bg-tint text-center py-11">
                      <div class="fs-4">
                        任選上課時間
                      </div>
                      <div class="py-4">
                        <div class="
                        rounded-circle overflow-hidden d-inline-block bg-white 
                        ">
                          <img src="../assets/images/icons/calendar-clock-icon-64x64.webp" class="p-4" alt="">
                        </div>
                      </div>
                      <p>
                        Secondary Text
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3 col-12">
                    <div class="bg-tint text-center py-11">
                      <div class="fs-4">
                        客製化的健身課程
                      </div>
                      <div class="py-4">
                        <div class="
                        rounded-circle overflow-hidden d-inline-block bg-white 
                        ">
                          <img src="../assets/images/icons/exercise-icon-64x64.webp" class="p-4" alt="">
                        </div>
                      </div>
                      <p>
                        Secondary Text
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3 col-12">
                    <div class="bg-tint text-center py-11">
                      <div class="fs-4">
                        一堂也能買
                      </div>
                      <div class="py-4">
                        <div class="
                        rounded-circle overflow-hidden d-inline-block bg-white 
                        ">
                          <img src="../assets/images/icons/person-check-icon-64x64.webp" class="p-4" alt="">
                        </div>
                      </div>
                      <p>
                        Secondary Text
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3 col-12">
                    <div class="bg-tint text-center py-11">
                      <div class="fs-4">
                        自選上課教練
                      </div>
                      <div class="py-4">
                        <div class="
                        rounded-circle overflow-hidden d-inline-block bg-white
                        ">
                          <img src="../assets/images/icons/add-reaction-icon-64x64.webp" class="p-4" alt="">
                        </div>
                      </div>
                      <p>
                        Secondary Text
                      </p>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </section>

    <!-- 學生評價 -->
    <section>
      <div class="bg-secondarydeep position-relative">
        <!-- GSAP -->
        <div class="bg-white overflow-hidden pb-md-18 pb-21">
          <div class="text-tint runtxt d-inline-block whitespace-nowrap font-anton-700" id="runtxt">
            LOVE BY THE TRAINERS. LOVE BY THE TRAINERS. LOVE BY THE TRAINERS.LOVE BY THE TRAINERS. LOVE BY THE TRAINERS. LOVE BY THE TRAINERS.LOVE BY THE TRAINERS. LOVE BY THE TRAINERS. LOVE BY THE TRAINERS.
          </div>
        </div>
        
        <!-- Swiper -->
        <div class="
        content-box"
        style="z-index: 100;"
        >
        <!-- class="position-absolute translate-middle-x content-box start-50"
        style="z-index: 100;"-->
          <div>
            <div class="container">
              <div class="mobil-title  text-secondary text-center">
                <span class="h1">學生評價</span>
              </div>
            </div>
            <div class="mt-md-20 mt-11 position-relative">
              <div>
                <div class="container">
                  <div class="swiper swiper-students-review justify-content-center overflow-hidden">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide bg-white">
                        <div class="ps-md-5 ps-4 mt-md-5 mt-4 mb-2 d-flex align-items-center">
                          <div class="rounded-circle feedback-avatar1 feedback-style me-2">
                          </div>
                          <div class="fs-5">
                            陳小姐
                          </div>
                        </div>
                        <div class="p-2 ">
                          <img src="../assets/images/img/feedback-01.webp" alt="feedback-01" >
                        </div>
                        
                        <div class="articleContent">
                          <p class="fs-mobil-content">這個預約平台真是太方便了!不僅能輕鬆找到適合我的教練，還可以靈活安排時間，非常適合我這種忙碌的上班族。強烈推薦給每一位健身愛好者!</p>
                        </div>
                      </div>
                      <div class="swiper-slide bg-white">
                        <div class="ps-md-5 ps-4 mt-md-5 mt-4 mb-2 d-flex align-items-center">
                          <div class="rounded-circle feedback-avatar2 feedback-style me-2">
                          </div>
                          <div class="fs-5">
                            李先生
                          </div>
                        </div>
                        <div class="p-2">
                          <img src="../assets/images/img/feedback-02.webp" alt="feedback-02" >
                        </div>
                        
                        <div class="articleContent">
                          <p class="fs-6">我特別喜歡這個平台的預約系統，簡單又直觀。教練的資歷和評價都一目了然，讓我可以做出最好的選擇。用了這個平台後，我的健身計劃變得更加有規律了。!</p>
                        </div>
                      </div>
                      <div class="swiper-slide bg-white">
                        <div class="ps-md-5 ps-4 mt-md-5 mt-4 mb-2 d-flex align-items-center">
                          <div class="rounded-circle feedback-avatar3 feedback-style me-2">
                          </div>
                          <div class="fs-5">
                            王太太
                          </div>
                        </div>
                        <div class="p-2">
                          <img src="../assets/images/img/feedback-03.webp" alt="feedback-03" >
                        </div>
                        
                        <div class="articleContent">
                          <p class="fs-6">作為銀髮族,我一直擔心找不到合適的健身課程。這個平台提供的銀髮族體適能服務讓我感到很安心。教練非常專業,讓我在運動中感到安全和舒適。</p>
                        </div>
                      </div>
                    </div>
                  </div>
                   <div class="swiper-button-next d-md-inline-block border border-1 opacity-1 w-auto d-none">
                  </div>
                  <div class="swiper-button-prev d-md-inline-block position-absolute border border-1 opacity-1  w-auto d-none">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/icons/logo_primary_64x64.webp" class="position-absolute logo_primary d-md-inline-block d-none" alt="">
        <!-- 殿空間bg -->
        <div class="bg-secondary position-relative bg-height">
          <img src="../assets/images/icons/logo_accent_64x64.webp" class="position-absolute logo_accent d-md-inline-block d-none" alt="">
        </div>
      </div>
    </section>

    <!-- 註冊教練或學員 -->
    <section  style="z-index: 5;">
      <div class="bg-secondary">
        <div class="container pt-md-15 pb-17 pt-14">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-md-6 col-12 d-flex align-items-center pe-md-0">
                  <div class="py-mde-11 py-14 px-5">
                    <h2 class="fs-md-2 text-tint fs-4">卡關了? 讓教練幫助你突破</h2>
                    <div class="bar my-5 bg-tint"></div>
                    <div class="text-white">
                      <p>新手入門友善,從不會教到會</p>
                      <p>一堂也能購買</p>
                      <p>增肌減脂,幫助你效率化的完成目標</p>
                    </div>
                    <div class="mt-6">
                      <button class="btn btn-primary-radial-gradient py-3 px-4">
                        立即預約 →
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12 ps-md-0 px-0">
                  <img src="../assets/images/img/trainer-01.webp" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row flex-md-row flex-column-reverse">
                <div class="col-md-6 col-12 px-0">
                  <img src="../assets/images/img/trainer-02.webp" alt="">
                </div>
                <div class="col-md-6 col-12 d-flex align-items-center pe-md-0">
                  <div class="py-mde-11 py-14 px-5">
                    <h2 class="fs-md-2 text-tint fs-4fs-md-2 text-tint fs-4">卡成為 HealthGlow 教練</h2>
                    <div class="bar my-5 bg-tint"></div>
                    <div class="text-white">
                      <p>簡單、快速、方便的預約系統</p>
                      <p>自由安排 授課時間</p>
                      <p>增加曝光和客源</p>
                    </div>
                    <div class="mt-6">
                      <button type="button rounded-0" class="btn btn-primary text-white">
                        成為教練
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./components/scroll-to-top'); -%>
    <!--  -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <!-- GSAP -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script>
        gsap.to('#runtxt', {
          x: -1000,
          duration: 10,
          repeat: -1,
          ease: 'none',
        });
    </script>
    <!-- navbar 搜尋課程、地點 資料 -->
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // 帶入 courseMenu 資料
        const courseMenuLevelOne = document.querySelector(
          '.course-dropdown-menu-level-one ul'
        ); // 取得第一層區塊的 ul 標籤
        const courseMenuLevelTwo = document.querySelector(
          '.course-dropdown-menu-level-two ul'
        ); // 取得第二層區塊的 ul 標籤

        courseData.forEach((element) => {
          let menuItem = createMainMenuItem(element, courseMenuLevelTwo);
          courseMenuLevelOne.append(menuItem);
        });
        // 帶入 locationMenu 資料
        const locationMenuLevelOne = document.querySelector(
          '.location-dropdown-menu-level-one ul'
        );
        const locationMenuLevelTwo = document.querySelector(
          '.location-dropdown-menu-level-two ul'
        );

        locationData.forEach((element) => {
          let locationItem = createMainMenuItem(element, locationMenuLevelTwo);
          locationMenuLevelOne.append(locationItem);
        });
      });
      function createMainMenuItem(element, whatToSearch) {
        let mainMenuItem = createMenuItem(element.title, element.status); // 從 menu 物件中取得課程類別 title，並建立 li>a 結構的元素，該元素名稱為  mainMenuItem

        mainMenuItem.addEventListener('mouseover', () => {
          // 以下為滑鼠滑過 mainMenuItem 時，會執行的內容
          const menuLevelTwo = whatToSearch; // 取得第二層區塊的 ul 標籤區塊
          menuLevelTwo.classList.add('d-block'); // 顯示第二層資料
          [...menuLevelTwo.querySelectorAll('li')].forEach((item) =>
            item.remove()
          ); // 先將第二層的課程資料清空，但開頭的 「運動課程」不刪除。

          element.subject.forEach((element) => {
            // 從 menu 物件中取得 subject 資料，每一筆都執行下方程式
            menuLevelTwoItem = createMenuItem(element); // 建立 ul>a 結構的元素，並宣告為 menuLevelTwoItem
            menuLevelTwo.append(menuLevelTwoItem); // 將新建立的 ul>a 結構加入 menuLevelTwo
          });

          let selectedMenuItem = document.querySelectorAll('.selected');
          selectedMenuItem.forEach((item) => {
            item.classList.remove('selected');
          });

          let link = mainMenuItem.querySelector('.dropdown-item');
          link.classList.add('selected');

          console.log(link);
        });
        // console.log(mainMenuItem);
        return mainMenuItem;
      }
      function createMenuItem(title, status) {
        let menuItem = document.createElement('li');
        let link = document.createElement('a');

        link.classList.add('dropdown-item', status);
        link.href = '#';
        link.textContent = title;
        menuItem.append(link);

        return menuItem;
      }
      const courseData = [
        {
          title: '有氧運動',
          subject: ['有氧 1', '有氧 2', '有氧 3'],
          status: 'selected',
        },
        {
          title: '肌力訓練',
          subject: ['肌力 1', '肌力 2', '肌力 3'],
        },
        {
          title: '核心訓練',
          subject: ['核心 1', '核心 2', '核心 3'],
        },
        {
          title: '舞蹈課程',
          subject: ['舞蹈 1', '舞蹈 2', '舞蹈 3'],
        },
        {
          title: '靜態課程',
          subject: ['瑜珈', '皮拉提斯', '冥想', '太極'],
        },
      ];
      const locationData = [
        {
          title: '台北市',
          subject: [
            '中正區',
            '大同區',
            '中山區',
            '松山區',
            '大安區',
            '萬華區',
            '信義區',
          ],
          status: 'selected',
        },
        {
          title: '宜蘭縣',
          subject: ['宜蘭縣 1', '宜蘭縣 2', '宜蘭縣 3'],
        },
        {
          title: '新北市',
          subject: ['新北市 1', '新北市 2', '新北市 3'],
        },
        {
          title: '基隆市',
          subject: ['基隆市 1', '基隆市 2', '基隆市 3'],
        },
      ];
    </script>
    <!-- 載入 flatpicker  -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- flatpicker 客製 -->
    <script>
      flatpickr('#datepicker', {
        onReady: function (selectedDates, dateStr, instance) {
          const newDiv = document.createElement('div');
          const newUl = document.createElement('ul');

          const timeItems = ['任何時段', '上午', '下午', '晚上'];

          newUl.classList.add(
            'flatpickr-custom-time',
            'list-unstyled',
            'd-flex',
            'gap-2'
          );

          timeItems.forEach((timeText) => {
            const newLi = document.createElement('li');
            const newBtn = document.createElement('button');
            newLi.classList.add('nav-item');
            newBtn.classList.add('nav-link', 'w-100');
            newBtn.type = 'button';
            newBtn.textContent = timeText;
            newLi.append(newBtn);
            newUl.appendChild(newLi);
          });

          newDiv.classList.add('flatpickr-custom-div');
          // 建立自定義按鈕元素
          const customButtonCancel = document.createElement('button');
          customButtonCancel.type = 'button';
          customButtonCancel.classList.add(
            'btn',
            'btn-outline-secondary',
            'w-50',
            'rounded-0'
          );
          customButtonCancel.innerText = '清除';

          const customButtonConfirm = document.createElement('button');
          customButtonConfirm.type = 'button';
          customButtonConfirm.classList.add('btn', 'btn-primary', 'w-50');
          customButtonConfirm.innerText = '確定';

          customButtonConfirm.addEventListener('click', function () {
            instance.setDate(new Date()); // 設定為今天的日期
          });
          newDiv.append(customButtonCancel, customButtonConfirm);
          instance.calendarContainer.append(newUl, newDiv);
        },
      });
    </script>
  </body>
</html>
