<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Health Glow | 預約課程</title>
    <!-- 差 title icon 和 OG img -->
     <link 
     rel="stylesheet" 
     href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
     />
    <link
      rel="icon"
      href="../assets/images/icons/health-glow-icon-32x32.webp"
      type="image/x-icon"
    />
    <!-- 網頁描述 -->
    <meta
      name="description"
      content="Health Glow，透過我們的運動預約平台，輕鬆探索多元運動課程，預約專業教練，打造屬於你的個性化健身計劃。無論何時何地，都能快速預約並開始你的健康運動生活。"
    />
    <meta name="author" content="Sonia、Macy、Jason、Nocab" />
    <meta
      name="keywords"
      content="運動預約, 教練課程, 健身課程, 線上預約, 私人教練, 課程管理, 運動平台, 健康運動, 運動場地預約, 團體課程, 健身房預約, 個人訓練, 健身計劃, 線上運動, 運動課程推薦, 運動健身, 課程報名, 課程評價, 運動教練, 運動學習, 健身預約系統, 瑜伽課程, 健身教練, 課程搜索, 訓練課程, 運動類型選擇, 健身目標, 課程時間表, 彈性取消, 線上支付運動課程"
    />
    <!-- OG -->
    <meta property="og:title" content="Health Glow" />
    <meta
      property="og:description"
      content="探索多元運動課程，輕鬆預約專業教練，隨時隨地開啟健康生活。立即加入，打造屬於你的個性化健身計劃！"
    />
    <meta property="og:image" content="" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:alt" content="Health Glow og" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta
      property="og:url"
      content="https://nocab7714.github.io/HealthGlow-sports-coach-reservation-platform/"
    />
  </head>
  <body>
    <%- include('./layout/header-sign-in-trainer.ejs'); -%>
    <!-- banner -->
    <section>
        <div class="order-banner position-relative ">
            <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="position-absolute top-50 translate-middle banner-mobil-position">
                    <h1 class="display-2 text-white fw-bold">預約課程</h1>
                    <div class="mt-2 d-flex justify-md-content-center justify-content-md-center justify-content-start">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item text-white"><a href="#">Home</a></li>
                              <li class="breadcrumb-item active" aria-current="page">預約課程</li>
                            </ol>
                          </nav>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

    <!-- 內容 -->
    <section>
        <div class="bg-secondary">
            <div class="container pb-md-15">
                <div class="py-md-15 py-10">
                    <div class="mb-md-10 mb-6">
                    <!-- 預約順序 -->
                       <ul class="d-flex align-items-center justify-content-md-start justify-content-center b-md-0 p-md-0">
                            <li class="d-flex flex-md-row flex-column align-items-center pe-md-5 pe-3">
                                <button
                                    type="button"
                                    class="btn btn-sm btn-warning rounded-pill text-secondary fw-bold font-anton-700 fs-4 step-icon-style font-anton-700"
                                    >
                                <span class="font-anton-700 fs-md-4 fs-6 lh-base">
                                  1
                                </span>
                                </button>
                                <a href="#" class="fs-md-5 fs-6 text-warning ps-md-4">
                                    預約時段
                                </a>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right text-warning fw-bold fs-md-4 fs-6 fw-bold"></i>
                            </li>
                            <li class="ps-5 d-flex flex-md-row flex-column  align-items-center pe-md-5 pe-3">
                                <button
                                    type="button"
                                    class="btn btn-sm btn-warning rounded-pill text-secondary fw-bold font-anton-700 fs-4 step-icon-style font-anton-700"
                                >
                                <span class="font-anton-700 fs-md-4 fs-6 lh-base">
                                  2
                                </span>
                                </button>
                                <a href="#" class="fs-md-5 fs-6 text-warning ps-md-4">
                                    選擇課程
                                </a>
                            </li>
                            <li>
                              <i class="bi bi-chevron-right text-warning fw-bold fs-md-4 fs-6 fw-bold"></i>
                            </li>
                            <li class="ps-5 d-flex align-items-center flex-md-row flex-column pe-md-5 pe-3">
                                <button
                                    type="button"
                                    class="btn btn-sm btn-gray-300 rounded-pill text-secondary fw-bold font-anton-700 step-icon-style"
                                >
                                <span class="font-anton-700 fs-md-4 fs-6 lh-base">
                                  3
                                </span>
                                </button>
                                <a href="#" class="fs-md-5 fs-6 text-gray-300 ps-md-4">
                                    預約成功
                                </a>
                            </li>
                       </ul> 
                    </div>
                    <div class="bg-gray-200 calender-rounded px-md-15">
                      <h3 class="fs-md-3 fs-5 text-secondary text-center pt-md-56 pt-4">
                        選擇地點
                      </h3>
                      <div class="bar-80 mt-md-4 mt-2 bg-secondary mx-auto">
                      </div>
                      <!-- 地點選擇內容 -->
                      <div class="mt-md-10 mt-4 rounded-2">
                            <div class="row">
                                <div class="col-12">
                                    <div class="px-3">
                                        <div class="bg-white d-md-flex align-items-center justify-content-between flex-md-wrap d-flex-column
                                        px-md-6 py-md-11 px-3 py-4 rounded-2">
                                            <div class="d-flex mb-md-0 mb-6 justify-content-between">
                                                <div class="pe-3">
                                                    <img src="../assets/images/img/avatar-03.webp" alt="頭像" class="avatar-64">
                                                </div>
                                                <div>
                                                    <div class="text-secondary fs-md-4 fs-5">
                                                        林大壯 Jeremy
                                                    </div>
                                                    <div class="d-flex text-secondary">
                                                        <span class="fs-7 pe-2">#增肌減脂</span>
                                                        <span class="fs-7 pe-2">#體態雕塑</span>
                                                        <span class="fs-7">#運動表現</span>
                                                    </div>
                                                </div>
                                                <div class="d-md-none d-block" style="max-width: 16px;">
                                                    <button type="button" class="text-gray-600 fs-6 p-0 border-0 bg-white">
                                                        <i class="bi bi-x"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="ps-md-6">
                                            <form>
                                                <ul class="search navbar-nav list-unstyled d-md-flex flex-md-row d-column me-auto"
                                                    >
                                                    <!-- 地點搜尋 dropdown -->
                                                    <li
                                                    class="dropdown nav-item rounded-0 position-relative me-md-3 mb-md-0 mb-5 select-button-size"
                                                    >
                                                    
                                                    <div class="dropdown">
                                                        <button class="dropdown-toggle form-control navbar-input rounded-0 border-2 border-gray-800 px-3 py-2 text-start focus-primary
                                                        d-flex align-items-center justify-content-between" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <span class="text-truncate text-gray-800 pe-md-6 d-inline-block"
                                                            style="width: 100%;">
                                                                請選擇上課地點
                                                            </span>
                                                        </button>
                                                        <ul class="course-menu dropdown-menu p-0 border-2 border-gray-800 select-button-size" aria-labelledby="dropdownMenuButton1"
                                                        >
                                                            <li><a class="dropdown-item" href="#">大安區</a></li>
                                                            <li><a class="dropdown-item" href="#">信義區</a></li>
                                                            <li><a class="dropdown-item" href="#">中正區</a></li>
                                                        </ul>
                                                    </div>
                                                    </li>
                                                    <!-- 課程方式 dropdown  -->
                                                    <li
                                                    class="dropdown nav-item rounded-0 position-relative me-md-3 mb-md-0 mb-5 select-button-size"
                                                    >
                                                        <button class="dropdown-toggle form-control navbar-input rounded-0 border-2 border-gray-800 px-3 py-2 text-start focus-primary d-flex align-items-center justify-content-between" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                                                        style="width: 100%;"
                                                        >
                                                        <span class="text-truncate text-gray-800 d-inline-block" style="width: 100%;">
                                                            客製
                                                        </span>
                                                        </button>
                                                    
                                                    </li>
                                                    <!-- 時間 dropdown  -->
                                                    <li
                                                    class="dropdown nav-item rounded-0 position-relative me-md-3 mb-md-0 select-button-size"
                                                    >
                                                    <div class="dropdown">
                                                    <button class="dropdown-toggle form-control navbar-input rounded-0 border-2 border-gray-800 px-3 py-2 text-start focus-primary d-flex align-items-center justify-content-between" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <span class="text-truncate text-gray-800 pe-6">
                                                        請選擇上課時間
                                                        </span>
                                                    </button>
                                                    <ul class="course-menu dropdown-menu p-0 border-2 border-gray-800 select-button-size" aria-labelledby="dropdownMenuButton1"
                                                    >
                                                        <li><a class="dropdown-item" href="#">60分鐘</a></li>
                                                        <li><a class="dropdown-item" href="#">90分鐘</a></li>
                                                        <li><a class="dropdown-item" href="#">120分鐘</a></li>
                                                    </ul>
                                                    </div>
                                                    </li>
                                                </ul>
                                            </form>  
                                            </div>
                                            <div>
                                                <div class="font-anton-700 text-secondary fs-md-28 fs-4  text-md-center text-end mt-md-0 mt-6">
                                                    NT$ 2,000
                                                </div>
                                            </div>
                                            <div class="d-md-block d-none">
                                                <button type="button" class="btn-close text-gray-600"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div>
                      <!-- 課程明細 -->
                       <div class="py-md-15 py-8">
                        <h3 class="fs-md-3 fs-5 text-secondary text-center">
                            課程明細
                        </h3>
                        <div class="bar-80 mt-md-4 mt-2 bg-secondary mx-auto">
                        </div>
                        <div class="mt-md-10 mt-5 px-md-0 px-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-md-flex justify-content-md-between d-flex-column
                                    bg-white rounded-2 px-md-8 py-md-6 px-3 py-4">
                                        <div>
                                            <div class="d-flex">
                                                <img src="../assets/images/img/avatar-03.webp" alt="頭像" class="avatar-40 ">
                                                <div class="ps-3 text-secondary fs-md-5 fs-6">
                                                    林大壯 Jeremy
                                                </div>
                                            </div>
                                            <div class="ps-md-56 ps-0">
                                                <ul class="mt-5 list-unstyled">
                                                    <li class="pb-1 fs-md-5 fs-7">
                                                        課程內容: 客製 | 60 分鐘
                                                    </li>
                                                    <li class="fs-md-5 fs-7">
                                                        上課地點:台北市中山區南京東路25巷2-1號
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- map -->
                                        <div class="d-md-block d-none">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.458381194189!2d121.52652511033189!3d25.052448437456977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a966f6fc092d%3A0x9f740ea896779b57!2zMTA0OTHlj7DljJfluILkuK3lsbHljYDljZfkuqzmnbHot6_kuozmrrUyNeiZnw!5e0!3m2!1szh-TW!2stw!4v1730043772361!5m2!1szh-TW!2stw" width="540" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        </div>
                                        <div class="d-md-none d-block">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.458381194189!2d121.52652511033189!3d25.052448437456977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a966f6fc092d%3A0x9f740ea896779b57!2zMTA0OTHlj7DljJfluILkuK3lsbHljYDljZfkuqzmnbHot6_kuozmrrUyNeiZnw!5e0!3m2!1szh-TW!2stw!4v1730043772361!5m2!1szh-TW!2stw" width="100%" height="168px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       </div>
                      <!-- 月曆＋上下頁按鈕 -->
                      <div class="pb-md-56 pb-4">
                        <div class="container">
                          <div class="row justify-content-between">
                            <div class="col-md-4 col-6">
                              <button type="button" class="btn-dark bg-white d-flex align-items-center p-3">
                                <i class="bi bi-arrow-left-short fs-4" style="line-height: 0.8;"></i>
                                <div class="fs-md-5 fs-6 ps-2 lh-sm">回上一頁</div>
                              </button>
                            </div>
                            <div class="col-md-4 col-6 text-end">
                              <a href="order-success.html" class="d-flex justify-content-end">
                                <button type="button" class="btn-dark bg-white  p-3 d-flex align-items-center"
                                >
                                  <div class="fs-md-5 fs-6 pe-2 lh-sm">下一步</div>
                                  <i class="bi bi-arrow-right-short fs-4" style="line-height: 0.8;"></i>
                                </button>
                              </a>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./components/scroll-to-top'); -%>
    <!--  -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>