<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <%- include('./layout/head'); -%>
        <title>Health Glow | 預約課程 </title>
    </head>
  <body>
    <%- include('./layout/header-sign-in-trainer-white-bg-version.ejs'); -%>
    <!-- banner -->
    <section>
        <div class="order-banner position-relative ">
            <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="position-absolute top-50 translate-middle banner-mobil-position">
                    <h1 class="display-2 text-white fw-bold">預約課程</h1>
                    <div class="mt-2 d-flex justify-md-content-center justify-content-md-center justify-content-start">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item text-white"><a href="student.html">Home</a></li>
                              <li class="breadcrumb-item active" aria-current="page">預約課程</li>
                            </ol>
                          </nav>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

    <!-- 內容 -->
    <section>
        <div class="bg-secondary">
            <div class="container pb-md-15">
                <div class="py-md-15 py-10">
                    <div class="mb-md-10 mb-6">
                    <!-- 預約順序 -->
                    <div class="mb-md-10 mb-6">
                        <!-- 預約順序 -->
                           <ul class="d-flex justify-content-md-start justify-content-center align-items-center mb-md-0 p-md-0">
                                <li class="d-flex flex-md-row flex-column align-items-center pe-md-5 pe-3">
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-warning rounded-pill text-secondary fw-bold font-anton-700 fs-4 step-icon-style font-anton-700"
                                        >
                                    <span class="font-anton-700 fs-md-4 fs-6 lh-base">
                                      1
                                    </span>
                                    </button>
                                    <a href="#" class="fs-md-5 fs-6 text-warning ps-md-4">
                                        預約時段
                                    </a>
                                </li>
                                <li>
                                    <i class="bi bi-chevron-right text-warning fw-bold fs-md-4 fs-6 fw-bold"></i>
                                </li>
                                <li class="ps-5 d-flex flex-md-row flex-column  align-items-center pe-md-5 pe-3">
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-warning rounded-pill text-secondary fw-bold font-anton-700 fs-4 step-icon-style font-anton-700"
                                    >
                                    <span class="font-anton-700 fs-md-4 fs-6 lh-base">
                                      2
                                    </span>
                                    </button>
                                    <a href="#" class="fs-md-5 fs-6 text-warning ps-md-4">
                                        選擇課程
                                    </a>
                                </li>
                                <li>
                                  <i class="bi bi-chevron-right text-warning fw-bold fs-md-4 fs-6 fw-bold"></i>
                                </li>
                                <li class="ps-5 d-flex align-items-center flex-md-row flex-column pe-md-5 pe-3">
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-warning rounded-pill text-secondary fw-bold font-anton-700 step-icon-style"
                                    >
                                    <span class="font-anton-700 fs-md-4 fs-6 lh-base ">
                                      3
                                    </span>
                                    </button>
                                    <a href="#" class="fs-md-5 fs-6 text-warning ps-md-4">
                                        預約成功
                                    </a>
                                </li>
                           </ul> 
                        </div>
                    </div>

                    <div class="bg-gray-200 calender-rounded py-md-56 pt-4 pb-6 px-md-15 px-3">
                      <h3 class="fs-md-3 fs-5 text-secondary text-center ">
                        預約成功
                      </h3>
                      <div class="bar-80 mt-md-4 mt-2 bg-secondary mx-auto">
                      </div>
                      <div class="pt-md-10 pt-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-lg-flex justify-content-lg-between
                                d-flex-column
                                bg-white rounded-2 px-md-6 py-md-6 px-3 py-4">
                                    <div class="pe-lg-8 pe-md-0 pb-md-4 pb-3">
                                        <div class="d-flex align-items-center">
                                            <img src="../assets/images/img/avatar-03.webp" alt="頭像" class="avatar-40 ">
                                            <div class="ps-3 text-secondary fs-md-4 fs-6">
                                                林大壯 Jeremy
                                            </div>
                                            <span class="fs-md-5 ps-md-3 fs-7">
                                                教練
                                            </span>
                                        </div>
                                        <div class="ps-md-56 ps-0">
                                            <ul class="mt-md-4 mt-3 list-unstyled">
                                                <li class="pb-md-1 fs-md-5 fs-7">
                                                    課程內容: 客製 | 60 分鐘
                                                </li>
                                                <li class="fs-md-5 fs-7 mt-md-1">
                                                    上課地點:台北市中山區南京東路25巷2-1號
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="ps-xxl-56 ps-xl-10 ps-0 mt-8 position-relative decoration-bar">
                                            <div class="row">
                                                <div class="col-md-12 col-3 pe-md-3 pe-0">
                                                    <div class=" d-md-block d-none ">
                                                        <div class="row g-0 py-2">
                                                            <div class="col-3">
                                                                <div class="
                                                                bg-primary
                                                                bg-opacity-10 
                                                                text-secondary
                                                                text-center">
                                                                    日期
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="
                                                                bg-primary
                                                                bg-opacity-10 
                                                                text-secondary
                                                                text-center">
                                                                    時間
                                                                </div>
                                                            </div>
                                                            <div class="col-7">
                                                                <div class="
                                                                bg-primary
                                                                bg-opacity-10 
                                                                text-secondary
                                                                text-center">
                                                                    上課地點
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-md-none d-block">
                                                        <div class="row g-0 py-2 ">
                                                            <div class="col-md-3 col-12">
                                                                <div class="
                                                                text-secondary
                                                                text-start">
                                                                    日期
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-12">
                                                                <div class="
                                                                text-secondary
                                                                text-start">
                                                                    時間
                                                                </div>
                                                            </div>
                                                            <div class="col-md-7 col-12">
                                                                <div class="
                                                                text-secondary
                                                                text-start">
                                                                    上課地點
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-12 col-9 px-md-3 ps-0">
                                                    <div class="row g-md-0 g-1 py-2">
                                                        <div class="col-md-3 col-12">
                                                            <div class="text-md-center text-start fs-md-6 fs-7 ps-md-0 ps-2">
                                                                2024/09/09
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-12">
                                                            <div class="text-md-center text-start fs-md-6 fs-7 ps-2">
                                                                14:00
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7 col-12">
                                                            <div class="text-start fs-md-6 fs-7 ps-2">
                                                                台北市中山區南京東路25巷2-1號
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- map -->
                                    <div class="col-lg-6 col-12">
                                        <!-- map -->
                                        <div class="map-container position-relative overflow-hidden">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.458381194189!2d121.52652511033189!3d25.052448437456977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a966f6fc092d%3A0x9f740ea896779b57!2zMTA0OTHlj7DljJfluILkuK3lsbHljYDljZfkuqzmnbHot6_kuozmrrUyNeiZnw!5e0!3m2!1szh-TW!2stw!4v1730043772361!5m2!1szh-TW!2stw" width="540" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="position-absolute"></iframe>
                                            
                                        </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <!-- 月曆＋上下頁按鈕 -->
                      <div class="pt-md-15 pb-md-0 pt-15">
                          <div class="row">
                            <div class="col-md-6 col-12 mt-md-0 mt-4 d-flex justify-content-md-end text-center">
                                <a type="button" class="btn btn-primary  d-flex align-items-center py-md-3 px-md-6 w-md-auto w-100 text-center"
                                href="student.html"
                                >
                                  <div class="fs-5 pe-2 lh-sm w-100">預約更多課程</div>
                              </a>
                              
                            </div>
                            <div class="col-md-6 col-12 mt-md-0 mt-4 d-flex justify-content-md-start text-center">
                              
                                <a type="button" class="btn btn-outline-primary primary-btn-active d-flex align-items-center py-md-3 px-md-6 w-md-auto w-100 text-center"
                                href="order-place.html"
                                >
                                  <div class="fs-5 pe-2 lh-sm w-100">查看我的行事曆</div>
                              </a>
                              
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./components/scroll-to-top'); -%>
    <!--  -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>